workflows/real_estate/insight_report_workflow.json
{
  "name": "[Consigliere] 부동산 종합 인사이트 리포트",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule (08:30)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        350
      ],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "url": "http://consigliere_api:8000/agent/real_estate/insight_report?district_code=11680",
        "options": {}
      },
      "name": "Get Insight Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        350
      ],
      "id": "http-request-fetch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://consigliere_api:8000/notify/slack",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "blocks",
              "value": "={{ $json.blocks }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        350
      ],
      "id": "http-request-slack"
    }
  ],
  "connections": {
    "Schedule (08:30)": {
      "main": [
        [
          {
            "node": "Get Insight Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Insight Report": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
