workflows/real_estate/real_estate_news.json
{
  "name": "Real Estate News Insight",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "schedule-trigger",
      "name": "Daily Schedule (08:00)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://consigliere_api:8000/agent/real_estate/news/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keywords",
              "value": "부동산 정책"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "http-request",
      "name": "Trigger News Analysis"
    },
    {
      "parameters": {
        "sendTo": "kks@example.com",
        "subject": "🏠 Real Estate News Insight Summary",
        "message": "={{ $node[\"Trigger News Analysis\"].json[\"summary\"] }}",
        "options": {
          "appendAttributions": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        500,
        -100
      ],
      "id": "gmail-notification",
      "name": "Send Gmail Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://consigliere_api:8000/notify/sms",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Real Estate News Update: {{ $node[\"Trigger News Analysis\"].json[\"summary\"].substring(0, 100) }}..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        100
      ],
      "id": "sms-notification",
      "name": "Send SMS Alert"
    }
  ],
  "connections": {
    "Daily Schedule (08:00)": {
      "main": [
        [
          {
            "node": "Trigger News Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger News Analysis": {
      "main": [
        [
          {
            "node": "Send Gmail Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}