workflows/real_estate/real_estate_monitor.json
{
  "name": "Real Estate Transaction Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "schedule-trigger",
      "name": "Daily Schedule (09:00)"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "current_month",
              "value": "={{ $now.format('YYYYMM') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "format-yyyymm",
      "name": "Format YYYYMM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://consigliere_api:8000/agent/real_estate/monitor/fetch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "month",
              "value": "={{ $node[\"Format YYYYMM\"].json[\"current_month\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "http-request",
      "name": "Call Consigliere API"
    },
    {
      "parameters": {
        "sendTo": "kks@example.com",
        "subject": "🏠 Real Estate Transaction Alert",
        "message": "={{ $node[\"Call Consigliere API\"].json[\"summary\"] || 'New real estate transactions monitored.' }}",
        "options": {
          "appendAttributions": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        660,
        -100
      ],
      "id": "gmail-notification",
      "name": "Send Gmail Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://consigliere_api:8000/notify/sms",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Consigliere: Real Estate monitor completed for {{ $node[\"Format YYYYMM\"].json[\"current_month\"] }}."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ],
      "id": "sms-notification",
      "name": "Send SMS Alert"
    }
  ],
  "connections": {
    "Daily Schedule (09:00)": {
      "main": [
        [
          {
            "node": "Format YYYYMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format YYYYMM": {
      "main": [
        [
          {
            "node": "Call Consigliere API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Consigliere API": {
      "main": [
        [
          {
            "node": "Send Gmail Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}